iosdk/iosdk
images/openwhisk/
.DS_Store
.version
.snapshot
.node-version
.go-version
.python-version
node_modules/
__pycache__/
old/
*.zip
*.bak
*.jar
.idea/
difftest.out*
tmp/
attic/
.vscode/
admin/.nimbella/
